* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

Ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  padding: 100px;
}
.center {
  max-width: 1240px;
  margin: 0 auto;
}
button {
  border: none;
}

/* Hero */

.hero-wrapper {
  background-color: #1f2937;
}

section.hero-wrapper {
  padding-top: 8px;
}

.hero header {
  display: flex;
  justify-content: flex-end;
}

.hero .nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

#logo {
  margin-right: auto;
  font-weight: 900;
  font-size: 24px;
}

#logo a {
  color: white;
}

.nav-link {
  font-size: 18px;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.nav-link a {
  color: #e5e7eb;
}

/* ---> Banner */
.banner {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.banner .content,
.banner .img {
  flex: 1;
}

.banner .img {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999898;
  color: white;
  flex-grow: 2;
}

.banner button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #ffffff;
  margin-top: 0.5rem;
}

.banner .title {
  color: white;
}

.banner .text {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0.5rem 0;
}
