* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

Ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  padding: 100px;
}
.center {
  max-width: 1240px;
  margin: 0 auto;
}
button {
  border: none;
}

/* Hero */

.hero-wrapper {
  background-color: #1f2937;
}

section.hero-wrapper {
  padding-top: 8px;
}

.hero header {
  display: flex;
  justify-content: flex-end;
}

.hero .nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

#logo {
  margin-right: auto;
  font-weight: 900;
  font-size: 24px;
}

#logo a {
  color: white;
}

.nav-link {
  font-size: 18px;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.nav-link a {
  color: #e5e7eb;
}

/* ---> Banner */
.banner {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.banner .content,
.banner .img {
  flex: 1;
}

.banner .img {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999898;
  color: white;
  flex-grow: 2;
}

.banner button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #ffffff;
  margin-top: 0.5rem;
}

.banner .title {
  color: white;
}

.banner .text {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0.5rem 0;
}

/* INFO */

.info-wrapper {
  padding-top: 50px;
}

.info .title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 20px;
}

.info .cards {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.info .img {
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}
.info .card {
  flex: 1;
  flex-basis: 150px;
  flex-grow: 0;
}
.info .text {
  text-align: center;
}

/* QUOTE */
.quote-wrapper {
  background-color: #e5e7eb;
}
.quote {
  max-width: 600px;
}
.quote .text {
  font-size: 36px;
  font-style: italic;
  margin-bottom: 1rem;
  font-weight: xx-small;
}
.quote .author {
  text-align: right;
  font-weight: bolder;
  font-size: 18px;
}

/* CTA */

.cta {
  padding: 50px 100px;
  background-color: #3882f6;
  border-radius: 8px;
}

.cta .title {
  font-weight: 600;
  color: white;
  font-size: 20px;
  margin-bottom: 0.2rem;
}

.cta .flex {
  display: flex;
  justify-content: space-between;
}

.cta .text {
  color: #e5e7eb;
  margin-bottom: 0.2rem;
}

.cta button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 8px 0;
  background-color: #1f2937;
  color: white;
}
